extends chapter/base

{% load gravatar %}

block content
  include chapter/modals

  .row
    .twelve.columns
      - if current_chapter.markup
        | {{ current_chapter.markup|safe }}

  .row.cramped
    .four.columns.sidebar
      include chapter/sidebar


    .eight.columns
      ul.tabs-content.contained
        li(id="talkTab").active
          h5 Start new topic
          //a(href="#").add-post
            | Add post
          .create-content
            form(name='talk-form', action='/#{current_chapter.slug}/talk', method='POST')
              textarea.talk-content-input
              .text-right
                span.leaders-only
                  - if current_user.get_profile.is_leader
                    | Only visible to guides
                    input(type="checkbox").talk-leader-toggle
                  - else
                    .label.highlight Your post will be sent to the mailing list
                .button.radius.small.talk-submit Post

          hr
          ul.inline-list.filter.talk-filter
            li
              a(href="#").selected.all-talk All
            li
              a(href="#").promoted-talk Endorsed
            //- li
              a(href="#").mentees-talk My Mentees

          .alert-box.secondary
            | This section displays the mailing list.
            a(href="/#{current_chapter.slug}/posts/go/posting-guidelines") Read the rules!


          ul.feed.talk-feed
           include talk/talks

        - if current_user.get_profile.is_leader
          li(id="leaderTab")
            h5 Administration Tasks
            hr
            ul.feed.leader-feed

             include leadership/tasks
