*.ignore
*.pyc
*.db
*.swp
*.swo
*.backup
*.back
*.bak
*.old
*~
.DS_Store
.sass-cache
env
build
!var/assets/media/images/default
!var/assets/media/thumbnails/default
var/assets/static/*
var/assets/media/*
celerybeat-schedule.db
celerybeat-schedule
nohup.out
