extends base

block title-extended
  | | Thanks!

block header

block nav

block content
  .welcome
    .row
      .twelve.columns
        img(src="#{STATIC_URL}images/logo/hackerunion_black.png")

  .row.cramped
    .six.columns.centered
      .panel
        h2 Thanks!
        p.lead 
          | We'll let you know as soon as a local chapter opens.
