| Congratulations!
| 
| Your application to the Hacker Union has been approved!
| 
| Login to your account by visiting:
| http://#{domain}/accounts/login/")
|
| You'll also receive all emails sent to:
| {{ user.get_profile.get_email }}
|
| Finally, you can post to our members-only mailing list:
| {{ user.get_profile.chapter.get_discuss_list }}
|
| Thanks,
|  - Hacker Union
