| A user has submitted a new administrative request.
br
br
| View this request by clicking 
a(href="http://#{domain}/#{chapter}/?state=leader") here
br
br
| #{title}
br
| #{content|safe}
br
br
| Thanks,
br
|  - Hacker Union  
