extends base

block title-extended
  | | 500!

block header

block nav

block content
  .welcome
    .row
      .twelve.columns
        img(src="/static/images/logo/hackerunion_black.png")
  .row.cramped
    .eight.columns.centered
      h1 
       | erhmegerd 
      em
       | 500