| You've been subscribed to the members-only mailing list, #{ list }.
| 
| Unsubscribe at any time by visiting:
| http://#{domain}/accounts/settings
| 
| Emails will be published on the website, too.
| 
| Thanks,
|  - Hacker Union
