| You've been subscribed to the members-only mailing list,  
a(href="mailto:#{ list }") #{ list }
br
br
| Unsubscribe at any time by visiting:
br
a(href="http://#{domain}/accounts/settings") http://#{domain}/accounts/settings
br
br
| Emails will be published on the website, too.
br
br
| Thanks,
br
|  - Hacker Union
